@font-face {
    font-family: 'Aux Mono';
    src: url("fonts/aux_mono.woff") format("woff");
    }    
    
@font-face {
    font-family: 'GeistMono-Regular';
    src: url("fonts/GeistMono-Regular.ttf") format("truetype");
    }

@media (max-width: 700px) {
  .row {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
  .window {
    width: 100%;
    height: auto;
    min-height: 180px;
  }
  .left, .right {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  h1, h2, h3 {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .p1, .p2 {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  video, img {
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
  }
}

body {
    background-color: black;
}

video, img {
    max-width: 100%;
    height: auto;
    display: block;
}

.entry-video {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

/* TOP NAVIGATION BAR */

/* POSTION OF NAVIGATION BAR */
.topnav {
    overflow: hidden;
    float: none;
    padding: 16px 16px;
    font-size: 16px;
}

/* STYLE OF NAVIGATION BAR */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Aux Mono', monospace;
  font-weight: lighter;
}

/* STYLE ON HOVER NAVIGATION BAR */
.topnav a:hover, .topnav a.active:hover {
    background-color: black;
    color: rgb(219, 199, 18);
}

/* STYLE ON ACTIVE NAVIGATION BAR */
.topnav a.active {
    background-color: black;
    color: white;
}

/* MAIN HEAD FONT */
h1 {
    font-family:'Aux Mono', monospace;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    text-align: left;
    margin-left: 20px;
}

h2 {
    font-family:'Aux Mono', monospace;
    font-size: 25px;
    font-weight: bold;
    color: rgb(219, 219, 219);
    text-align: center;
    margin-right: 50px;
}

h4 {
    font-family:'Aux Mono', monospace;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 20px;
}

/* MAIN FILLING/CONTENT TEXT */
.p1 {
    font-family:'GeistMono-Regular', monospace;
    font-size: 14px;
    font-weight: normal;
    color: rgb(219, 219, 219);
    text-align: left;
    margin-left: 20px;
}

/* BOTTOM BAR TEXT */
.p2 {
    font-family:'GeistMono-Regular', monospace;
    font-size: 14px;
    font-weight: normal;
    color: white;
    text-align: left;
    margin-left: 14px;
}

/* LINKS ON PAGE */
.link {
    color:rgb(219, 219, 219);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

/* LINKS ON HOVER */
.link:hover {
    color: rgb(219, 199, 18);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    font-size: 20px;
    margin-left: 0px;
}

.right {
    display: flex;
}


.border {
    border-bottom: 1px solid rgb(82, 82, 82);
}

.window {
    border: 1px solid rgb(82, 82, 82);
    width: 700px;
    max-width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1px;
    padding-top: 1px;
}

.window:hover {
    border-color: rgb(219, 199, 18);
    box-shadow: 0 18px 50px rgba(219,199,18,0.06);
}

/* BOTTOM LINKS BAR */

/* POSTION OF BOTTOM BAR */
.navbar {
  overflow: hidden;
  position: right;
  bottom: 0;
  width: auto;
  margin-right: 25px;
}

/* STYLE OF BOTTOM BAR */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  margin-right: 5px;
  margin-bottom: 45px;
  text-decoration: none;
  font-size: 14px;
  gap: 10px;
}

/* COLOR ON HOVER */
.navbar a:hover {
  background-color: black;
  color: rgb(219, 199, 18);
}

/* COLOR OF ACTIVE PAGE */
.navbar a.active {
  background-color: black;
  color: rgb(219, 199, 18);
}