@font-face {
    font-family: 'Aux Mono';
    src: url("fonts/aux_mono.woff") format("woff");
    }    
    
@font-face {
    font-family: 'Interphases';
    src: url("fonts/interphases_regular.ttf") format("truetype");
    }

@font-face {
    font-family: 'InputMono-Regular';
    src: url("fonts/InputMono-Regular.ttf") format("truetype");
    }

@font-face {
    font-family: 'monoMMM_5';
    src: url("fonts/monoMMM_5.ttf") format("truetype");
    }


body {
    background-color: black;
}

h1 {
    font-family:'Aux Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(219, 219, 219);
    text-align: left;
    margin-left: 20px;
}

h2 {
    font-family:'Aux Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(219, 219, 219);
    text-align: left;
    margin-right: 25px;
}

h3 {
    font-family:'Aux Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    color: rgb(219, 219, 219);
    text-align: left;
    margin-left: 20px;
}

.p1 {
    font-family:'InputMono-Regular', monospace;
    font-size: 13px;
    font-weight: normal;
    color: rgb(219, 219, 219);
    text-align: left;
    margin-left: 0px;
}

.p2 {
    font-family:'Interphases', monospace;
    font-size: 13px;
    font-weight: normal;
    color: rgb(219, 219, 219);
    text-align: left;
    margin-left: 20px;
}

.p3 {
    font-family:'InputMono-Regular', monospace;
    font-size: 13px;
    font-weight: normal;
    color: rgb(219, 219, 219);
    text-align: left;
    margin-left: 0px;
}

.link {
    color:rgb(219, 219, 219);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: rgb(219, 199, 18);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    font-size: 15px;
    margin-left: 0px;
}

.right a {
  margin-left: 0px;
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-weight: bold;
  transition: color 0.2s;
  text-align: left;
}

.border {
    border-bottom: 1px solid rgb(82, 82, 82);
}

.window {
    border: 1px solid rgb(82, 82, 82);
    width: 700px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2px;
    display: block;
}

.window:hover {
    border-color: rgb(219, 199, 18);
}